body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#GameContainer {
    text-align: center;
}

#GameBoard {
    border: 3px solid;
}

#Score {
    font-size: 24px;
    margin-top: 10px;
}

#ResetBtn {
    font-size: 18px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
}
